/**
 * LucidLayout Editor
 * 
 * Copyright (c) Translucide  (C) 2013
 *
 * @version 0.1
 * @date Nov. 10 2013
 */

.lucidlayouteditor{
	box-sizing: border-box!important;
	box-shadow:inset 0px 0px 1px 1px #DDD;
}
.lucidlayouteditor .canvas{
	min-height:400px;
}
.lucidlayouteditor .row{
	margin-left:0;
	margin-right:0;
}
.lucidlayouteditor .row .cell{
	box-shadow:inset 0px 0px 1px 0px #CCC;
	min-height:50px;
	margin:0 auto;
	padding-left:0;
	padding-right:0;
}
.lucidlayouteditor .row .cell:hover{
	box-shadow:inset 0px 0px 1px 0px #999;
}
.lucidlayouteditor .row .cell.selected,
.lucidlayouteditor .row .cell.selected:hover{
	box-shadow:inset 0px 0px 1px 1px #88BBE0;
}
.lucidlayouteditor .cell .resizing{
	background-color:black;
}

.lucidlayouteditor .container{
	padding:0;
	margin:0;
	overflow:hidden;
}
.lucidlayouteditor .container:hover {
	
}
.lucidlayouteditor .menu {
	display: none;
	position: absolute;
	padding: 0px;
	background-color: #EEE;
	border: 1px solid #DDD;
	box-shadow:0px 0px 3px 0px #CCC;
	min-width:150px;
	z-index:1000;
}
.lucidlayouteditor .menu h3{
	width:auto;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#999;
	background-color:#DDD;
	border-bottom:1px solid #CCC;
	padding:8px;
}
.lucidlayouteditor .menu ul{
	list-style:none none inside;
	margin:0;
	padding:0;
}
.lucidlayouteditor .menu a{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	display:block;
	width:auto;
	padding:5px;
	padding-left:10px;
	color:#AAA;
	border-left:5px solid #F6F6F6;
	corsor:pointer;
}
.lucidlayouteditor .menu a span.glyphicon{
	padding-right:10px;
}
.lucidlayouteditor .menu a:hover{
	border-left:5px solid #CCC;
	background-color:#EEE;
	color:#666;
}
.lucidlayouteditor .toolbar{
	padding:1px;
	background-color:#EEE;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	color:#AAA;
	min-height:30px;
}
.lucidlayouteditor .toolbar:after{
	content:"";
	display:block;
	clear:both;
}
.lucidlayouteditor .toolbar a{
	color:inherit;
}
.lucidlayouteditor .toolbar a span,
.lucidlayouteditor .toolbar button span:first-child
{
	padding-right:5px;
}
.lucidlayouteditor .toolbar div.dropdown{
	display:inline-block;
}
.lucidlayouteditor .toolbar div.dropdown button{
	font-size:0.9em;
}
.lucidlayouteditor .toolbar div.dropdown a{
	cursor:pointer;
}

.lucidlayouteditor .history{
	display:none;
}
.lucidlayouteditor_hovertools{
	padding:0;
	margin:0;
	vertical-align: top;
	line-height:1em;
}
.lucidlayouteditor_hovertools a{
	background-color:#777;
	color:white;
	font-size:0.5em;
	padding:2px;
	padding-top:4px;
	cursor:pointer;
}
.lucidlayouteditor_hovertools a:hover{
	background-color:#2E99F7;
}
.lucidlayouteditor .output{
	display:none;
}
.lucidlayouteditor textarea{
	width:100%;
	display:block;
	min-height:400px;
	border-radius:0;
	border:none;
}
.lucidlayouteditor:fullscreen {
    background-color: rgba(255,255,255,1);
}
.lucidlayouteditor:-webkit-full-screen {
    background-color: rgba(255,255,255,1);
}
.lucidlayouteditor:-moz-full-screen {
    background-color: rgba(255,255,255,1);
}
.lucidlayouteditor_widgetlist_wrapper{
	padding:10px;
	margin:0;
}
.lucidlayouteditor_widgetlist_element{
	cursor:pointer;
	padding:10px;
	margin:0;
}
.lucidlayouteditor_widgetlist_element h4{
	padding-top:0;
	margin-top:0;
}
.lucidlayouteditor_widgetlist_element:hover{
	background-color:#EEE;
}
.lucidlayouteditor_widgetlist_element.selected{
	background-color:#2E99F7;
	color:White;
}
#lucidlayouteditor_dialog .modal-dialog{
	width:90%;
}