#top #titlearea{
    color:white;
    background-color:#111;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

#projectname{
    background-image:url('img/32x32-lucidcms.png')!important;
    background-repeat:no-repeat;
    padding-left:32px;
    color:#FFF;
    background-position:center left;
    font-size:220%;
}
div.header{
    border-top:2px solid #ddd;
}
.tablist li.current a{
    background-image:none;
    background-color:rgba(0,0,0,0.2);
}
.tablist li {
    background-image: none;
}

.tablist a{
    background:none;
    background-image:none;
}
#navrow1 .tablist a{
    color:#EEE;
    text-shadow:none;
}
.tabs, .tabs2, .tabs3{
    background-image:none;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
div#navrow1.tabs{
    background-image:none;
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */}
}

.title {
    color:#207ce5;
}

.memproto, dl.reflist dt{
    border: 0 solid white;
    color:#207ce5;
    background-color:transparent;
    background:none;
    box-shadow:none;
}

.memitem{
    border:0 solid white;
    background-image:none;
    background-color:transparent;
    box-shadow:none;
}
.memitem:nth-last-child(3) .memdoc{
    border-bottom:none;
}
.memdoc{
    border-bottom:5px solid #CCC;
    border-left:0;
    border-right:0;
    border-radius:0;
    box-shadow:none;
    background-image:none;
}
    
hr.footer{
    height:20px;
    background-color:black;
}
address.footer{
    display:none;
}
.paramname em{
    color:#666;
}
.paramname{
    color:#207ce5;
}