/**
 * LucidInterface stylesheet
 */
body{
	/*padding-top:42px;*/
	height:100%;
}
body>.container{
	width:auto;
	padding:0!important;
	margin:0!important;
}
.lucidinterface{
	width:auto;
	padding:0;
	margin:0;
	height:100%;
	box-sizing: border-box;
}
.app.lucidinterface {
    padding:15px;
}
.lucidinterface > h1{
    font-size:24px;
    margin-top:-15px;;
	background-color:#F4F4F4;
	margin-bottom:10px;
    margin-left:-15px;
    margin-right:-15px;
    padding:10px 15px;
}
.lucidinterface > h1 i.fa,
.lucidinterface > h1 i.glyphicon{
    padding-right:15px;
}
.lucidinterface .list{
	list-style-type: none;
	list-style-position: outside;
	margin-left:0px;
	padding-left:0;
}
.lucidinterface .list li{
	padding:5px;
	border-bottom:1px solid transparent;
	border-top:1px solid transparent;
	display:block;
	width:auto;
	box-sizing:border-box;
}
.lucidinterface .list li:hover{
	background-color:#FaFaFa;
	border-bottom:1px solid #F0F0F0;
	border-top:1px solid #F0F0F0;
}
.lucidinterface .list .title{
	display:block;
	cursor:pointer;
}
.lucidinterface .list li.title, .lucidinterface .list li.title:hover{
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#F0F0F0;
	margin-bottom:0px;
	border-bottom:1px solid #E0E0E0;
}

.lucidinterface .caret {
	margin-left:2px;
}
.lucidinterface .viewport{
	border-bottom:1px solid #CCC;
	padding:0;
	margin:0;
	background-color:#EEE;
}
.lucidinterface .breadcrumb{
	border-bottom:1px solid #DDD;
	border-radius:0;
	padding:6px 5px 6px 5px;
	vertical-align: middle;
	margin:0;
	font-size:0.9em;
}
.lucidinterface .breadcrumb li{
	padding-right:6px;
	padding-left: 6px;
}
.lucidinterface .breadcrumb li:first-child {
	padding-left:3px;
}
.lucidinterface .layout .hbox{
	margin-top:0px;
	margin-bottom:0px;
	border-bottom:1px solid #EEE;
	border-top:1px solid #CCC;
	background-color:white;
	width:auto;
}
.lucidinterface .layout>.hbox:last-child{
	margin-bottom:0px;
	border-top:0;
}
.lucidinterface .layout .hbox:first-child{
	margin-top:0px;
	border-top:none;
}
.lucidinterface .layout .hbox > .vbox{
	margin-left:1px;
	margin-right:-1px;
	border-right:1px solid #EEE;
	background-color:white;
	float:left;
}
.lucidinterface .layout .leftvbox{
	width:20%;
	overflow-x:hidden;
}
.lucidinterface .layout .leftvbox + .mainvbox{
	margin-left:20%;
	width:auto;
}
.lucidinterface .layout .mainvbox_child,
.lucidinterface .layout .leftvbox_child{
	float:none;
	width:auto;
	height:auto;
}
.lucidinterface .layout .vbox>.vbox_child>.btn{
	width:100%;
	border-radius:0;
	padding:0;
	margin:0;
	padding-top:5px;
	padding-bottom:5px;
	text-align:left;

}
.lucidinterface .layout .vbox:after {
  content: "";
  display: table;
}
.lucidinterface .layout .mainvbox_child:after,
.lucidinterface .layout .leftvbox_child:after {
  content:none;
  display: table;
}
.lucidinterface .vbox:last-child{
	margin-right:0px;
	border-left:none;
	float:none!important;
}
.lucidinterface .layout .vbox:first-child{
	margin-left:0px;
	border-left:none;
}
.lucidinterface .layout .vbox .dragbar{
   background-color:#F0F0F0;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
   min-height:600px;
   z-index:100;
}
.lucidinterface .tbar{
	background-color:#F4F4F4;
	border-bottom:1px solid #DDD;
	margin-bottom:0px;
	height:28px;
	min-width:100px;
	width: auto !important;
	width: 100px;
}
.lucidinterface .tbar .btn,.lucidinterface .tbar .btn-group{
	cursor:pointer;
	border-radius:0px;
	margin:0;
	border-top:none;
	/*border-bottom:1px solid #DDD;*/
	border-right:none;
	float:left;
	height:20px;
	white-space: nowrap;
}
.lucidinterface .tbar .btn,.lucidinterface .tbar .btn-group{
	border-right:none;
}
.lucidinterface .tbar i{
	vertical-align:top;
	padding-right:2px;
}
.lucidinterface .tbar .btn .title{
	font-size:0.8em;
	vertical-align:bottom;
}
.lucidinterface .tbar .btn-group li a{
	color:black;
}
.lucidinterface #mainbbar.tbar img{
	max-height:16px;
}
.lucidinterface .dropdown-menu{
	overflow-y:visible;
}
.lucidinterface .icon-custom{
	padding-right:5px;
}
.lucidinterface .titlebar{
	background-color:#EEE;
	border-bottom:1px solid #CCC;
	margin-bottom:0px;
	height:28px;
	padding-top:5px;
	padding-left:3px;
}

.lucidinterface .sbar{
	background-color:#EEE;
	border-bottom:2px solid #DDD;
	margin-bottom:2px;
	height:28px;
	border-top:1px solid #DDD;
	vertical-align:bottom;
	line-height:28px;
	color:#BBB;
}
.lucidinterface .sbar .btn{
	cursor:pointer;
	border-radius:0px;
	margin:0;
	border-top:none;
	border-bottom:#fff;
	border-right:#DDD;
}
.lucidinterface .sbar .btn:hover{
	border-right:1px solid #CCC;
}
.lucidinterface .tree{
	padding-top:2px;
}

.lucidinterface .error, .lucidinterface .alert-error {
	padding:20px;
	margin:5px;
	margin-left:10px;
	padding-left:50px;
	background-color:#FFE0E0;
	border:1px solid #FF3D3D;
	color:#511302;
	background-image:url('{url}/com/system/asset/icon/32x32/error.png');
	background-repeat:no-repeat;
	background-position:16px 16px;
}
.lucidinterface .alert-error i{
	display:none;
}
.lucidinterface .warning {
	padding:20px;
	margin:5px;
	margin-left:10px;
	padding-left:50px;
	background-color:#FFFADB;
	border:1px solid #FFDC1C;
	color:#897E5D;
	background-image:url('{url}/com/system/asset/icon/32x32/warning.png');
	background-repeat:no-repeat;
	background-position:16px 16px;
}
.lucidinterface .success {
	padding:20px;
	margin:5px;
	margin-left:10px;
	padding-left:50px;
	background-color:#EBFFE2;
	border:1px solid #A0FFA5;
	color:#196300;
	background-image:url('{url}/com/system/asset/icon/32x32/success.png');
	background-repeat:no-repeat;
	background-position:16px 16px;
}
.lucidinterface form fieldset legend{
	padding:10px;
	padding-left:5px;
}
.lucidinterface form fieldset legend{
	background-color:#F4F4F4;
	margin-bottom:10px;
}
.lucidinterface form fieldset legend a.preview{
    font-size:12px;
}
.lucidinterface form .tabbable{
	margin-top:4px;
}
.lucidinterface .tabbable .tab-content {
	padding:15px;
}
.lucidinterface form > fieldset > .row{
	margin:15px;
	margin-left:0;
}
.lucidinterface form fieldset .control-group{
}
.lucidinterface form fieldset legend span img{
	padding-right:5px;
	max-width:32px;
	margin-left:5px;
}
.lucidinterface .actionpanel{
	padding:5px;
	margin:5px;
	background-color:#F4FFFF;
	border:1px solid #DBDBDB;
	min-height:40px;
}
.lucidinterface .actionpanel>.title{
	font-weight:bold;
	color:#444;
}
.lucidinterface .actionpanel .actionpanel_child .btn{
	float:right;
	max-width:20%;
}
.lucidinterface .actionpanel .title+.actionpanel_child .btn{
	margin-top:-20px;
}
.lucidinterface .actionpanel .description{
	color:#999;
}
.lucidinterface .tree {

}
.lucidinterface .accordion .panel{
	border-radius:0;
}
.lucidinterface .layout .hbox > .leftvbox .accordion{
	padding-right:5px;
}
.tab-content{
	padding:10px;
}
a.input-group-addon, .input-group-addon a{
	cursor:pointer;
}
.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}
.lucidinterface td > label{
    display:none;
}

#lucidinterface_dialog{
    margin:50px auto;
    width:95%;
}
#lucidinterface_modaldialog{
    margin:50px auto;
}
#lucidinterface_messagedialog{
    margin:50px auto;
}
#lucidinterface_dialog .modal-header,
#lucidinterface_modaldialog .modal-header,
#lucidinterface_messagedialog .modal-header{
    background-color:#0D5DA8;
    color:white;
}
#lucidinterface_modaldialog.modal{
    z-index:2000;
}
#lucidinterface_messagedialog.modal{
    z-index:10000;
}

@media (max-width: 768px) {
	.lucidinterface .layout .vbox{
		margin-left:0!important;
		margin-right:0!important;
		width:auto!important;
		float:none;
		clear:both;
	}
	.lucidinterface .layout .vbox_child, .lucidinterface .layout .mainvbox_child, .lucidinterface .layout .leftvbox_child{
		margin-left:0!important;
		margin-right:0!important;
		width:auto!important;
		float:none;
		clear:both;
	}
	.lucidinterface .layout .vbox{
		margin-left:0!important;
		margin-right:0!important;
		width:auto!important;
	}
	.lucidinterface .layout .vbox .dragbar{
		display:none;
		min-height:0;
	}
	.lucidinterface .layout .hbox > .vbox{
		float:none;
	}
	.lucidinterface .viewport form fieldset .tab-content,
	.lucidinterface .viewport form fieldset > legend
    {
		padding:20px;
	}
	.lucidinterface .viewport form fieldset > .control-group:last-child .btn{
		margin:20px;
		padding:15px;
		width:auto!important;
		display:block!important;
	}
    .lucidinterface td > label{
        display:block;
        border-top:1px solid black;
        padding-top:15px;
    }
    .lucidinterface td:first-child > label{
        border-top:0 solid transparent;
        padding-top:0;
}
