section.widget.animatedslide.horizontal-slide-in{
    min-height:35vh;
    padding:40px 0px;
    color:white;
    background-color:#eee;
    background-size:cover;
}
section.widget.animatedslide.horizontal-slide-in h1{
    font-size:3em;
    font-weight:bold;
    padding-bottom:0;
    margin-bottom:0;
    color:inherit;
    animation-delay:0s;
    animation-duration:0.5s;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}
section.widget.animatedslide.horizontal-slide-in h2{
    padding-top:0;
    margin-top:0;
    font-size:2.6em;
    margin-bottom:60px;
    animation-delay:0.2s;
    animation-duration:0.5s;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}
section.widget.animatedslide.horizontal-slide-in .img{
    margin-bottom:40px;
    animation-delay:0.6s;
    animation-duration:0.7s
}
section.widget.animatedslide.horizontal-slide-in .text{
    margin-bottom:40px;
    animation-delay:0.8s;
    animation-duration:0.7s;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}
@media (min-width: 1024px) {
    section.widget.animatedslide.horizontal-slide-in .ct:after{
        content: "";
        clear: both;
        display: table;
    }
    section.widget.animatedslide.horizontal-slide-in h1{
        font-size:4em;
    }
    section.widget.animatedslide.horizontal-slide-in .img{
        float:left;
        width:300px;
    }
    section.widget.animatedslide.horizontal-slide-in .img + .text,
    section.widget.animatedslide.horizontal-slide-in .img + .text + .actions{
        margin-left:300px;
    }
}