section.widget.animatedslide.horizontal-slide-in-light-bg{
    min-height:35vh;
    padding:40px 0px;
    color:#222;
    background-color:#eee;
    background-size:cover;
}
section.widget.animatedslide.horizontal-slide-in-light-bg h1{
    font-size:3em;
    font-weight:bold;
    padding-bottom:0;
    margin-bottom:0;
    color:inherit;
    animation-delay:0s;
    animation-duration:0.5s;
}
section.widget.animatedslide.horizontal-slide-in-light-bg h2{
    padding-top:0;
    margin-top:0;
    font-size:2.6em;
    margin-bottom:60px;
    animation-delay:0.2s;
    animation-duration:0.5s;
}
section.widget.animatedslide.horizontal-slide-in-light-bg .img{
    margin-bottom:40px;
    animation-delay:0.6s;
    animation-duration:0.7s
}
section.widget.animatedslide.horizontal-slide-in-light-bg .text{
    margin-bottom:40px;
    animation-delay:0.8s;
    animation-duration:0.7s;
}
@media (min-width: 1024px) {
    section.widget.animatedslide.horizontal-slide-in-light-bg h1{
        font-size:4em;
    }
    section.widget.animatedslide.horizontal-slide-in-light-bg .img{
        float:left;
        width:300px;
    }
    section.widget.animatedslide.horizontal-slide-in-light-bg .text,
    section.widget.animatedslide.horizontal-slide-in-light-bg .actions{
        margin-left:300px;
    }
}