		<script>
			
			
		var selectedCell = undefined;
		
		/**
		 * Rounds a number up to X decimals
		 *
		 * @param float nb The number to round
		 * @param int decimals The number of decimals up to which nb should be rounded
		 *
		 * @returns float The rounded floating point value
		 */
		function roundTo(nb,decimals) {
			return +(Math.round(nb + "e+" + decimals)  + "e-" + decimals);
		}
		
		/**
		 * Cleans up the markup code to remove any classes used by the UI.resizable
		 * jquery plugin.
		 *
		 * @returns void
		 */
		function cleanup(){
			$('.lucidlayouteditor .canvas .cell').each(function(i,e){
				if ($(e).resizable !== 'undefined') $(e).resizable("destroy");
			});
			$('.lucidlayouteditor .canvas .cell').attr('class','cell');
			$('.lucidlayouteditor .canvas .cell .ui-resizable-handle').remove();
		}
		
		/**
		 * Inserts a new cell or row before cell/row element specified
		 *
		 * @param Object cell
		 */
		function insertCellBefore(cellOrRow){
			cell = '<div class="cell"><div class="content"></div></div>';
			if (cellOrRow.hasClass("row")) cell = '<div class="row">'+cell+'</div>';
			cellOrRow.before(cell);
			cellOrRow.css('width',cellOrRow.width() - 25 + 'px').prev().css('width','25px');
			toPercentWidths(cellOrRow.parent());
			createResizables();
			console.info('Number of cells in this row : '+cellOrRow.parent().children().length);
		}
		
		/**
		 * Inserts a new cell or row after cell/row element specified
		 *
		 * @param Object cell
		 */
		function insertCellAfter(cellOrRow){
			cell = '<div class="cell"><div class="content"></div></div>';
			if (cellOrRow.hasClass("row")) cell = '<div class="row">'+cell+'</div>';
			cellOrRow.after(cell);
			cellOrRow.css('width',cellOrRow.width() - 25 + 'px').next().css('width','25px');
			toPercentWidths(cellOrRow.parent());
			createResizables();
			console.info('Number of cells in this row : '+cellOrRow.parent().children().length);
		}
		
		function appendCell(row) {
			row.append('<div class="cell"><div class="content"></div></div>');
			row.children(':last-child').css('width','0');
			return row;
		}
		
		function removeCell(cell){
			if (cell.parent().children().length > 1) {
				cell.remove();
				toPercentWidths(cell.parent());
			}
		}
		
		/**
		 * Change cell widths expressed in pixels to widths in percentage.
		 *
		 * @param Object parent The parent object of all cells to fix.
		 * @return void
		 */
		function toPercentWidths(parent){
			percentWidth = 0;
			parentWidth = parent.width();
			
			parent.children().each(function(i,e){
				we = $(e).width();
				we = roundTo(we/parentWidth*100,4);
				if (percentWidth + we > 100) {
					we = 100-percentWidth;
					percentWidth = 100;
				}						
				else percentWidth += we;
				$(e).css({
					'width': we+'%',
					'height': '',
					'left': '',
					'top': ''
				});
				console.info('New width of resizable element : '+we+'%');
			});
			
		}
		function createResizables(){
			$(function() {
				$( ".cell" ).resizable({
					autoHide : true,
					minHeight : 25,
					minWidth : 25,
					distance: 10,
					handles: "n,s,e,w",
					ghost: true,
					start : function(event, ui){
						curHandle = ui.helper.addClass('resizing');
					},
					stop: function( event, ui ) {
						cleanup();
						
						console.info('Stop drag called. ui=');
						console.info(ui);
						
						parent = ui.element.parent();
						parentWidth = parent.width();
						console.info('Resized element parent\'s width : '+parentWidth+'px');
						if ($(parent.children()).length == 1) appendCell(parent);
						console.info('Number of cells in this row : '+$(parent.children()).length);
						
						elWidths = 0;
						parent.children().each(function(i,e){
							elWidths+= $(e).width();
						});
						console.info('Total width of cells found : '+elWidths+'px');
						if (ui.element.next().length == 0) {
							ui.element.prev().width(parentWidth - (elWidths-ui.element.prev().width()));
						}else ui.element.next().width(parentWidth - (elWidths-ui.element.next().width()));
						
						toPercentWidths(parent);
						
						//Equalize cols heights
						$(parent.children()).equalHeights();

						//Update output
						$('.output textarea').html($('.lucidlayouteditor .canvas').html());
						
						createResizables();
						$('.cell').each(function(i,e){
							$(e).resizable( "option", "maxHeight", $(e).children('.content').height());
						});
					}
				});
			});
		}
		
		function getCell(el){
			return el.parents('.cell').eq(0);
		}
		
		$(document).bind("contextmenu", function(e) {
			selectedCell = $(e.target);
			if (selectedCell.parents(".lucidlayouteditor").length > 0) {
				e.preventDefault;
				menu = $('div.lucidlayouteditor>div.menu');
				menu.css({
					top: e.pageY+'px',
					left: e.pageX+'px'
				});
				if (e.pageX + menu.width() >= $('body').width()) menu.css('left',Math.max(5,$('body').width()-menu.width()-10) + 'px');
				if (e.pageY + menu.height() >= $(window).height()) menu.css('top',Math.max(5,$(window).height()-menu.height() - 10) + 'px');
				menu.show();
				console.info('Context menu is enabled');
				return false;
			}
			console.info('Not in a lucidlayout space, so context menu is disabled');
			return true;
		});
		
		$(document).ready(function() {
			createResizables();
			
			$('.lucidlayouteditor>.menu').mouseleave(function() {
				console.info('Closing context menu');
				$('.lucidlayouteditor>.menu').hide();
			});
			$('.lucidlayouteditor>.menu').click(function() {
				console.info('Closing context menu');
				$('.lucidlayouteditor>.menu').hide();
			});
		});
		</script>
		<div class="lucidlayouteditor"><div class="menu">
			<h3>Cell</h3>
			<ul>
				<li><a onclick="c = getCell(selectedCell);insertCellAfter(c);">Insert after</a></li>
				<li><a onclick="c = getCell(selectedCell);insertCellBefore(c);">Insert before</a></li>
				<li><a onclick="c = getCell(selectedCell);removeCell(c);">Delete</a></li>
			</ul>
			<h3>Row</h3>
			<ul>
				<li><a>Insert after</a></li>
				<li><a>Insert before</a></li>
				<li><a>Delete</a></li>
			</ul>
		</div>
		<div class="canvas"><div class="row"><div class="cell"><div class="content"></div></div></div></div>
		<div class="output">
			<textarea></textarea>
		</div>
		</div>
