section.widget.textslideup.grey-modern{
    padding:15px;
}
section.widget.textslideup.grey-modern .ct{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
section.widget.textslideup.grey-modern section{
    border:1px solid black;
    padding:15px;
    -webkit-transition:all 0.6s;
    transition:all 0.6s;
    text-align:left;
    margin-bottom:15px;
    padding-top:0;
}
section.widget.textslideup.grey-modern section:hover{
    padding-top:0!important;
}
section.widget.textslideup.grey-modern section h1{
    margin-top:15px;
    padding:5px 0;
    margin-bottom:15px;
    text-transform:uppercase;
    border-bottom:2px solid #777;
    min-height:50px;
}
section.widget.textslideup.grey-modern > .ct > p{
    margin-bottom:40px;
}
section.widget.textslideup.grey-modern > .ct > h1{
    margin-bottom:20px;
}
@media (min-width:768px) {
    section.widget.textslideup.grey-modern{
        padding:30px 15px;
    }
    section.widget.textslideup.grey-modern section h1{
        margin-top:15px;
    }    
    section.widget.textslideup.grey-modern h1{
        margin-bottom:30px;
    }    
    section.widget.textslideup.grey-modern .row .col-sm-3{
        width:50%;
    }
    section.widget.textslideup.grey-modern .ct .row.cellscount_5 .cell:first-child{
        margin-left:8.33%;
    }
    section.widget.textslideup.grey-modern .ct .row.cellscount_5 .cell:last-child{
        margin-right:8.33%;
    }
}
@media (min-width:1024px) {
    section.widget.textslideup.grey-modern .row .col-sm-3{
        width:25%;
    }    
    section.widget.textslideup.grey-modern h1{
        padding-bottom:15px;
    }    
}
