.error{
    background-image:url('img/error.png');
    background-position:center right;
    background-repeat:no-repeat;
}
.success {
    background-image:url('img/success.png');
    background-position:center right;
    background-repeat:no-repeat;			
}
#address{
    display:none;
}
.clear{
    content: "";
    display: table;
    clear: both;
}
body, html{
    margin:0;
    padding:0;
    margin-top:0;
    padding-top:0;
    font-family:Arial;
    min-width:436px;
}
.right{
    float:right;
}
a, a:active, a:visited{
    color:#919191;
}
a:hover{
    color:#08A1D8;
    text-decoration:none;
}
.header .top{
    font-family:avenir;
    color:#919191;
    height:80px;
    width:100%;
}
.header .top .logo{
    width:40%;
    overflow:hidden;
    float:left;
    padding-left:15px;
    padding-top:12px;
    font-size:2.2em;
    text-transform:lowercase;
    font-weight:bold;
}

.header .right{
    width:60%;
    text-align:right;
    float:right;
}
.header .lang, .header .scriptname{
    display:inline-widget;
}
.header .lang a{
    margin-left:10px;
    font-size:0.9em;
}
.header .scriptname{
    padding:15px;
    padding-top:2px;
    padding-bottom:3px;
    background-color:#08A1D8;
    border-radius:15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color:white;
    font-size:1.5em;
    margin-left:10px;
    margin-right:10px;
    box-shadow:0px 0px 4px 1px rgba(0,0,0,0.2);
}
.header .steps {
    color:#08A1D8;
    margin-top:10px;
    margin-right:10px;
}
.steps span {
    display:none;
}
.header .steps .active{
    color:#08A1D8;
}
.header .steps a{
    margin-left:10px;
    display:widget;
    padding-bottom:5px;
    text-transform:uppercase;
}
.header .steps a.inactive{
    color:#919191;
}
.slide1 input{
    background-color:#08A1D8;
}
.slide1 {
    color:white;
    padding:20px;
    padding-bottom:260px;
    background:#08A1D8 url('img/database.png') no-repeat bottom left;
    background-position:20px bottom;
    box-shadow:0px 3px 5px 1px rgba(0,0,0,0.2);
    position:relative;
    z-index:1;
}
.slide1 .field {
    color:white;
}
.slide1 .field input {
    color:white;
}
.slide1 h1{
    font-family:'Franklin Gothic';
    font-size:4em;
    margin-top:3px;
    margin-bottom:0;
}
.slide1 .title2{
    position:relative;
    top:0px;
    font-weight:bold;
}
.slide1 .title2 p{
    font-size:1.4em;
    font-weight:bold;
}
.slide1 .title2 h2{
    
    font-size:3em;
    font-weight:bold;
}
.slide1 ul{
    list-style: none;
    padding-left:0;
}
.slide1 h3{
    font-family:'Franklin Gothic';
    text-transform:lowercase;
    font-size:2em;
    font-weight:normal;
}
.slide1 li{
    font-size:1.18em;
}
.slide2{
    position:relative;
    z-index:0;
}
.slide2 .left{
    background-color:#E5E5E5;
    padding:20px;
}
.slide2 .left h2, .slide2 .left p{
    color:#08A1D8;
}
.slide2 .left h2{
    font-size:4em;
    margin-top:0;
    font-weight:bold;
}
.slide2 .left p{
    margin-bottom:20px;
}
.slide2 ul{
    list-style-type: none;
    padding-left:0!important;
    margin-left:0;
}
.slide2 ul li{
    margin-bottom:35px;
    color:#878787;
    font-size:1em;
}
.slide2 li > span{
    background-color: #878787;
    padding:5px;
    color:white;
    font-weight:bold;
    font-size:1em;
    width:78px;
    height:30px;
    overflow:hidden;
}
.slide2 li span small{
    font-size:0.6em;
}
.slide2 li > small{
    clear:both;
    display:widget;
    font-size:0.6em;
    margin-left:100px;
}
.slide2 .img{
    background-size:cover;
    background-image:url('img/bg_ftp.jpg');
    min-height:160px;
}
.contactslide{
    padding:20px;
    margin-bottom:30px;
}
.contactslide h2{
    font-size:3em;
    margin-top:0;
    font-weight:bold;
    color:#08A1D8;
}
.field{
    color:#777777;
    margin-bottom:10px;
}
.input{
    margin-top:5px;
}
.field input, .field textarea{
    border:1px solid #D3D3D3;
    border-radius:2px;
    width:100%;
    min-height:40px;
    padding:10px;
    color:#08A1D8;
}
.field input:focus, .field textarea:focus{
    box-shadow:0px 0px 1px 1px rgba(0,0,0,0.2);
}
.actions input{
    background-color:#08A1D8;
    color:white;
    font-size:1.5em;
    box-shadow:0px 0px 1px 1px rgba(0,0,0,0.2);
    border-radius:5px;
    border:0;
    padding:20px;
    padding-left:60px;
    padding-right:60px;
    margin-top:20px;
}
.actions input:hover{
    background-color:#0F93BF;
    box-shadow:0px 0px 1px 1px rgba(0,0,0,0.3);
}
.actions #result{
    margin-top:20px;
    display:widget;
}
.actions #result.error{
    color:#BF2626;
}
.actions #result.success{
    color:#01540C;
}
.footer{
    background-color:#CECECE;
    padding:20px;
    display:widget;
}
.footer .steps{
    margin-top:20px;
}
.footer .steps p{
    color:#9E9E9E;
}
.footer .steps a{
    color:white;
    text-transform:uppercase;
    text-decoration:none;
    display:widget;
}
.footer .contactinfo{
    color:white;
    margin-top:20px;
}
.footer .contactinfo p{
    font-size:2em;
    margin-bottom:0;
    padding-bottom:0;
    line-height:20px;
}
.footer .contactinfo a{
    font-size:0.5em;
    cursor:pointer;
}
@media (min-width:768px) {
    .steps span {
        display:inline-widget;
    }
    .header .steps a{
        display:inline;
        padding-bottom:0;
    }
    .header .steps:last-child{
        padding-bottom:10px;
    }
    .slide1{
        padding-bottom:100px;
        background-position:20px 200px;
    }
    .slide1 ul, .slide1 h3{
        margin-left:290px;
    }
    .slide2{
        padding:15px;
    }
    .footer{
        content: "";
        display: table;
        clear: both;
        width:100%;
    }
    .footer .logo{
        width:26%;
        float:left;
    }
    .footer .steps,
    .footer .contactinfo{
        float:left;
        margin-top:0;
        padding-top:5px;
    }
    .footer .contactinfo{
        width:74%;
        text-align:right;
    }
    
}
@media (min-width:1024px) {
    .slide1 h1{
        font-size:4.8em;
    }
    .slide1{
        background-position:20px 110px;
        padding-bottom:20px;
    }
    .slide1 h2{
        font-size:5em;
    }
    .slide1 h2, .slide1 .title2 p{
        margin-left:330px;
    }
    .slide1 ul{
        margin-left:330px;
    }
    .contactslide .leftfields{
        width:50%;
        padding-right:20px;
        float:left;
    }
    .contactslide .rightfields{
        padding-right:0;
        width:50%;
        float:right;
    }
    .contactslide .rightfields textarea{
        height:195px;
    }
    .contactslide .actions{
        clear:both;
    }
    .footer .steps a{
        display:inline;
        padding-right:20px;
    }
    .footer .logo{
        width:21%;
    }
    .footer .contactinfo{
        width:79%;
    }	
}
@media (min-width:1200px) {
    .slide1{
        background-position:20px 120px;
    }
    .slide1 h1{
        font-size:5em;
        letter-spacing:0.02em;
    }
    .slide1 h3{
        font-size:2.6em;
        letter-spacing:0.03em;
        margin-top:0;
    }
    .wrapper{
        width:94%;
        margin-left:auto;
        margin-right:auto;
        position:auto;
        box-shadow:0px 0px 4px 1px rgba(0,0,0,0.2);
        overflow:visible;
    }
    .contactslide h2{
        font-size:4.7em;
        margin-bottom:25px;
        margin-top:0;
        line-height:35px;
    }
}

@media (min-width:1440px) {
    .slide1 h1{
        font-size:7.5em;
        letter-spacing:0.02em;
        margin-left:30px;
        margin-top:40px;
        line-height:65px;
    }	
    .slide1 .title2 h2{
        font-size:5em;
        line-height:65px;
        margin-top:70px;
    }
    .slide1{
        background-position:50px 190px;
    }
    .footer .logo{
        width:15%;
        float:left;
    }
    .footer .steps,
    .footer .contactinfo{
        float:left;
        margin-top:0;
        padding-top:5px;
    }
    .footer .contactinfo{
        width:85%;
        text-align:right;
    }
}
@media (min-width:1920px) {
    .wrapper{
        width:80%;
    }	
}
