section.widget.accordion.default{
    padding:15px;
}
section.widget.accordion.default .panel.panel-default:not(:first-child){
    margin-top:15px;
}
@media(min-width:768px){
    section.widget.accordion.default{
        padding:30px;
    }
}