section.widget.comments.default .flip{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
section.widget.comments.default .glyphicon.flip{
    padding-right:0;
    padding-left:5px;    
}
section.widget.comments.default ul{
    margin-left:0;
    padding-left:0;
}
section.widget.comments.default .commentslist li{
    list-style-type:none;
    background-color:#F0F0F0;
    padding:10px;
    margin-top:10px;
}
section.widget.comments.default header{
    position:relative;
    top:0px;
    left:0;
    display:-webkit-flex;
    display:flex;
}
section.widget.comments.default header .col{
    flex:0 1 1;
    margin-right:10px;
}
section.widget.comments.default header img{
    background-color:#BBB;
    color:#FFF;
    background-image:url('{url}com/system/asset/img/defaultavatar.png');
    background-size:cover;
}
section.widget.comments.default header .index{
    position:absolute;
    top:0px;
    right:0;
    padding:6px 10px;
    background-color:#BBB;
    color:#FFF;
    min-width:30px;
    text-align:center;
}
section.widget.comments.default header time{
    color:#777;
}
section.widget.comments.default header h1{
    font-size:14px;
    font-weight:bold;
    margin-top:0;
    margin-bottom:5px;
}
section.widget.comments.default .actions:after{
    content:"";
    display:block;
    clear:both;
}
section.widget.comments.default .actions .btn{
    float:right;
    margin-left:10px;
    margin-top:10px;
}
section.widget.comments.default .body{
    margin-top:10px;
}
section.widget.comments.default.threaded li[class*="level"]{
    margin-left:250px;
}
section.widget.comments.default.threaded li.comment.level0{
    margin-left:0;
}
section.widget.comments.default.threaded li.comment.level1{
    margin-left:25px;
}
section.widget.comments.default.threaded li.comment.level2{
    margin-left:50px;
}
section.widget.comments.default.threaded li.comment.level3{
    margin-left:75px;
}
section.widget.comments.default.threaded li.comment.level4{
    margin-left:100px;
}
section.widget.comments.default.threaded li.comment.level5{
    margin-left:125px;
}
section.widget.comments.default.threaded li.comment.level6{
    margin-left:150px;
}
section.widget.comments.default.threaded li.comment.level7{
    margin-left:175px;
}
section.widget.comments.default.threaded li.comment.level8{
    margin-left:200px;
}
section.widget.comments.default.threaded li.comment.level9{
    margin-left:225px;
}

section.widget.comments.default.flat .actions .btn.reply{
    display:none;
}
section.widget.comments.default li.comment img{
    max-width:180px;
    max-height:180px;
}
section.widget.comments.default .content.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: auto;
    max-height:20em;
}
section.widget.comments.default .content.showContent {
    line-height: 1em;
    height: auto;
}
section.widget.comments li.comment.highlighted{
    /*background-color:#DEF7E5!important;*/
    color:#337A43!important;
}
section.widget.comments li.comment h1.username{
    cursor:pointer;
}
section.widget.comments.default .commentsnav{
    min-height:60px;
}
section.widget.comments.default .commentsnav.empty{
    min-height:0;
}
section.widget.comments.default .commentsnav .row{
    max-width:75%;
    float:left;
}
section.widget.comments.default a.clearhighlight,
section.widget.comments.default a.clearhighlight:visited,
section.widget.comments.default a.clearhighlight:active{
    float: right;
    position: relative;
    right: 0;
    top:20px;
    display: block;
    border: 1px solid #337ab7;
    color:#337ab7;
    padding: 8px;
}
section.widget.comments.default a.clearhighlight:hover{
    color:#044275;
    border: 1px solid #044275;
    background-color:#044275;
    color:white;
}
section.widget.comments.default a:first-child{
    margin-top:0;
}