section.widget.customerlogos{
    padding:35px 20px;
}
section.widget.customerlogos h1{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
section.widget.customerlogos .logos{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
html.mixblendmode section.widget.customerlogos .logos{
    -webkit-mix-blend-mode:multiply;
    mix-blend-mode:multiply;
}
section.widget.customerlogos .logos:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
section.widget.customerlogos .logos img{
    height:50px;
    padding:5px;
    margin-top:20px;
    border:1px solid #EEE;
    background-color:white;
    margin-left:5px;
    margin-right:5px;
}
@media (min-width:768px) {
    section.widget.customerlogos .logos img{
        height:85px;
        padding:20px;
        margin-top:20px;
    }
}