/**
 * ############################################################################
 * Flipcard widget ############################################################
 * ############################################################################
 */
section.flipcard{
    cursor:pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
}
section.flipcard .front,
section.flipcard .back {
    text-align:center;
    background-color:#F0F0F0;
    background:linear-gradient(to bottom, #ffffff 30%, #F0F0F0 100%) repeat scroll 0 0 rgba(245, 245, 245, 1);
    border:4px solid #EEE;
    padding:20px;
    line-height:1.5em;
    display:flex;
    align-items: center;
    justify-content: center;    
}
section.flipcard .front,
section.flipcard .back,
section.flipcard {
    min-height:200px;
    width:100%;
}
section.flipcard .front .ct,
section.flipcard .back .ct{
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
}
section.flipcard .front h1{
    font-size:1.5em;
    text-transform:uppercase;
}
section.flipcard:hover .back {
    transform: rotateY(0deg);
}
section.flipcard:hover .front {
    transform: rotateY(180deg);
}
section.flipcard{
    margin-bottom:25px;
}
section.flipcard.hover .flipper,
section.flipcard.flip .flipper,
section.flipcard .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
section.flipcard .front, section.flipcard .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
section.flipcard .front {
    z-index: 2;
    transform: rotateY(0deg);
}
section.flipcard .back {
    transform: rotateY(-180deg);
}
section.flipcard.vertical{
    position: relative;
}
section.flipcard.vertical .back {
    transform: rotateX(180deg);
}
section.flipcard.vertical:hover .back {
    transform: rotateX(0deg);
}
section.flipcard.vertical:hover .front {
    transform: rotateX(180deg);
}
section.flipcard .front .ct, section.flipcard .back .ct{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
@media only screen and ( min-width:768px ) and ( max-width:1440px ) {
    section.flipcard .front, section.flipcard .back, section.flipcard {
        min-height:350px;
    }
}
@media only screen and ( min-width:1441px ) {
    section.flipcard .front, section.flipcard .back, section.flipcard {
        min-height:250px;
    }
}