section.widget.herounit.default .cellcontent{
    -webkit-flex-direction:column;
    flex-direction: column;
    padding:30px 15px;
    text-align:center;
}
section.widget.herounit.default .cellimg {
    min-height:300px;
    -webkit-mix-blend-mode: multiply;
    mix-blend-mode: multiply;
    -webkit-background-blend-mode: multiply;
    background-blend-mode: multiply;
    background-size:cover;
    background-repeat:no-repeat;
}
section.widget.herounit.default h1{
    line-height:1.5em;
    margin-top:0px;
    margin-bottom:15px;
}
section.widget.herounit.default h2{
    line-height:1.5em;
    margin-bottom:15px;
}
section.widget.herounit.default .ct:after{
    content: "";
    display: table;
    clear: both;
}
section.widget.herounit.default.image-bgsizecontain .ct .cellimg{
    background-size:contain;
}
section.widget.herounit.default.image-noscale .ct .cellimg{
    background-size:auto;
    background-repeaT:no-repeat;
}
@media (min-width:768px) {
    section.widget.herounit.default .cellimg {
        min-height:35vh;
    }
    section.widget.herounit.default h1{
        position:relative;
        top:-5px;
    }
    section.widget.herounit.default .row{
        display: -webkit-flex;
        display:flex;
        -webkit-flex-direction:row;
        flex-direction: row;
    }
    section.widget.herounit.default .row .cell{
    }
    section.widget.herounit.default .cellcontent{
        padding:15px 15px;
        text-align:inherit;
    }
    section.widget.herounit.default .row .cell:first-child{
        margin-left:15px;
        padding-left:0;
    }
    section.widget.herounit.default .row .cell:last-child{
        margin-left:15px;
        padding-left:0;
    }
    section.widget.herounit.default .cellimg{
        margin-top:15px;
        margin-bottom:15px;
    }
    section.widget.herounit.default .cellimg:last-child{
        margin-right:15px;
    }
    section.widget.herounit.default.no-top-padding .cellimg{
        margin-top:0px;
    }
    section.widget.herounit.default.no-bottom-padding .cellimg{
        margin-bottom:0px;
    }
    section.widget.herounit.default.no-padding{
        margin-top:0;
        margin-bottom:0;
    }

}
@media (min-width:1024px) {
    section.widget.herounit.default .cellcontent{
        padding:40px 15px;
    }
    section.widget.herounit.default .cellimg{
        margin-top:40px;
        margin-bottom:40px;
    }
    section.widget.herounit.default .cellimg:last-child{
        margin-right:0px;
    }
}
