section.widget.htmlarea.default{
    padding-bottom:15px;
}
section.widget.htmlarea.default h1{
    padding-bottom:15px;
}
@media (min-width:768px){
    section.widget.htmlarea.default{
        padding-bottom:30px;
    }    
}