section.widget.image.default h1{
    padding:15px;
}
section.widget.image.default img,
section.widget.image.default h1,
section.widget.image.default p,
section.widget.image.default .actions
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
section.widget.image.default img{
    mix-blend-mode:multiply;
    background-blend-mode:multiply;
}
section.widget.image.default .actions{
    margin-top:20px;
}
@media(min-width:768px){
    section.widget.image.default h1{
        padding:40px;
    }    
}
@media(min-width:1024px){
    section.widget.image.default{
        padding:30px;
    }
    section.widget.image.default h1{
        padding-top:0px;
    }

}