section.linkscloud{
    padding:30px 0px;
    text-align:center;
}
section.linkscloud ul{
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin:0 auto;
}
section.linkscloud ul li{
    display:inline-block;
    padding:5px;
    margin:3px;
    text-align:center;
    font-size:0.7em;
    border:radius:2px;
    background-color:#F0F0F0;
    border:1px solid #E0E0E0;
}
section.linkscloud ul+p{
    margin-top:30px;
}