section.widget.quote.default{
    background-color:#CCC;
    display:block;
    overflow:hidden;
}
section.widget.quote.default blockquote{
    color: #666;
    font-size: 32px;
    font-weight: 300;
    padding: 24px;
    position: relative;
    margin-bottom:0;
    margin-top:0;
    background-color:transparent;
    text-align:center;
    border-left-width:0;
}
section.widget.quote.default blockquote::before,
section.widget.quote.default blockquote::after{
    color: #000;
    display: block;
    font-family: Times,serif;
    font-size: 7em;
    font-weight: 300;
    line-height: 90px;
    position: absolute;
    opacity:0.15;
}    
section.widget.quote.default blockquote::before{
    content: "“";
    left: 0px;
    top: 20px;
}
section.widget.quote.default blockquote::after{
    content: "”";
    right: 0px;
    bottom: -85px;
}
section.widget.quote.default blockquote p.quote{
    text-align:center;
    margin:20px 0;
    font-size:20px;
    line-height:43px;
    opacity:0.8;
    font-style: italic;
    padding:0 15px;
}
section.widget.quote.default blockquote p.author{
    font-size:0.5em;
    font-style: italic;
    opacity:0.9;
}
section.widget.quote.default blockquote p.authorsummary{
    font-size:0.4em;
    font-style: italic;
    opacity:0.7;
}
@media only screen and ( min-width:768px ) {
    section.widget.quote.default blockquote p.quote{
        padding:0;
    }
}