section.widget.sidebysidetext.default{
    padding:15px;
}
section.widget.sidebysidetext.default > .ct > h1{
    font-size:2em;
    padding:0px;
    padding-bottom:15px;
}
section.widget.sidebysidetext.default > .ct .row .cell{
    padding-top:15px;
}
section.widget.sidebysidetext.default section.column{
    text-align:center;
    margin-bottom:15px;
}
section.widget.sidebysidetext.default h1,
section.widget.sidebysidetext.default .actions,
section.widget.sidebysidetext.default section.column > *{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
section.widget.sidebysidetext.default .ct > p{
    padding-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
section.widget.sidebysidetext.default section.column > p{
    text-align:center;
}
section.widget.sidebysidetext.default .actions{
    margin-top:20px;
}
@media (min-width:768px) {
    
    section.widget.sidebysidetext.default{
        padding-top:30px;
        padding-bottom:30px;
    }
    section.widget.sidebysidetext.default section.column{
        margin-bottom:15px;
    }
    section.widget.sidebysidetext.default .ct .row.cellscount_5 .cell:first-child{
        margin-left:8.33%;
    }
    section.widget.sidebysidetext.default .ct .row.cellscount_5 .cell:last-child{
        margin-right:8.33%;
    } 
}