.team section{
    display:block;
    padding:15px;
}
.team > .ct > h1{
    line-height:2em;
}
.team > div.ct > div{
    position:relative;
}
.team section > h1{
    font-size:3em;
    font-weight:bold;
    margin-bottom:0;
    padding-bottom:0;
}
.team section > h2{
    padding-top:0;
    margin-top:0;
    font-weight:lighter;
}
.team section > .bio{
    color:#444;
    text-align:justify;
}
.team section:last-child > .bio{
    margin-bottom:0;
}
.team section > .socialmedias{
    text-align:left;
    margin-bottom:60px;
}
.team section:last-child > .socialmedias{
    margin-bottom:0;
}
.team nav{
    display:none;
}
.team .socialmedias i{
    font-size:24px;
    min-height:24px;
    min-width:24px;
    display:block;
}
.team .socialmedias a{
    display:inline-block;
    margin-right:10px;
}
.team .socialmedias a:hover{
    text-decoration:none;    
}
@media (min-width:768px) {
    .team{
        /*overflow-y:hidden;*/
    }
    .team section{
        position:relative;
        display:none;
        min-height:500px;
        padding:inherit;
    }
    .team section#teammember_0{
        display:block;
    }
    .team section > h1,
    .team section > h2,
    .team section > .bio,
    .team section > .socialmedias{
        margin-left:50%;
        width:50%;
    }
    .team section > .bio{
        line-height:1.5em;
    }
    .team section p.pic {
        width:57%;
        padding-right:20px;
        padding-left:20px;
        position:absolute;
        bottom:-60px;
        left:0;
        margin-bottom:0;
        max-height:600px;
    }
    .team section p.pic img{
        float:right;
        background-blend-mode: multiply;
        mix-blend-mode: multiply;
    }
    .team section:after{
        display:block;
        content:"";
        clear:both;
    }
    .team nav.remote-nav{
        display:block;
    }
    .team nav ul{
        padding-left:0;
    }
    .team nav li{
        list-style-type: none!important;
        list-style-image: none;
        padding:7px;
        padding-left:0;
    }
    .team nav li a{
        text-transform:Uppercase;
        text-decoration:none;
    }
    .team nav{
        position:absolute;
        top:0;
        left:0;
    }
}
@media (min-width:1024px) {
    .team section > h1{
        margin-top:60px;
    }
    .team section > h1,
    .team section > h2,
    .team section > .bio,
    .team section > .socialmedias{    
        margin-left:60%;
        width:40%;
    }
}