section.widget.tileslist.default{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    overflow:hidden;
    padding:15px 0;
}
section.widget.tileslist.default ul{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-align-content:stretch;
    align-content:stretch;
    -webkit-justify-content:center;
    justify-content:center;
    margin:10px -10px;
    padding-left:0;
}
section.widget.tileslist.default li{
    list-style-type:none;
    list-style-image:none;
    border:1px solid #DDD;
    padding:20px;
    margin:10px;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
    -webkit-align-content: stretch;
    align-content: stretch;
    max-width:200px;
}
section.widget.tileslist.default li span{
    font-size:5em;
    display:block;
    margin-bottom:20px;
}
section.widget.tileslist.default li:hover{
    background-color:#F4F4F4;
    border-color:F0F0F0;
    opacity:0.9;
}
@media (min-width:768px) {
    section.widget.tileslist.default{
        padding:15px 0;
    }
    section.widget.tileslist.default ul{
        display:-webkit-flex;
        display:flex;
        -webkit-flex-direction:row wrap;
        flex-direction:row wrap;
    }
    section.widget.tileslist.default li{
        width:auto;
        -webkit-flex:1 1 auto;
        flex:1 1 auto;
    }    
}
@media(min-width:1024px) {
    section.widget.tileslist.default{
        padding:40px 0;
    }
    section.widget.tileslist.default h2{
        margin-bottom:20px;
    }
    section.widget.tileslist.default h1{
        margin-bottom:20px;
    }
}