.widget.timeline.default{
    padding:30px 0;
}
.widget.timeline.default .ct > h1{
    text-align:center;
    margin:0 auto;
}
.widget.timeline.default ul,
.widget.timeline.default li,
.widget.timeline.default ol{
	list-style: none !important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;    
}
.widget.timeline.default .events-content ol li{
    text-align:center;
    margin:0 auto;
}
.widget.timeline.default .cd-horizontal-timeline .filling-line{
    background-color:{colors.main}
}
.widget.timeline.default .cd-horizontal-timeline .events a:hover::after{
    background-color:{colors.main};
    border-color:{colors.main};
}
.widget.timeline.default .cd-horizontal-timeline .events a.selected::after{
    background-color:{colors.main};
    border-color:{colors.main};    
}
.widget.timeline.default .cd-horizontal-timeline .events a.older-event::after,
.widget.timeline.default .cd-timeline-navigation a:hover{
    border-color:{colors.main};    
}