.widget.html.titleimage.default{
    min-height:300px;
    min-height:40vh;
    padding:50px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.widget.html.titleimage.default .ct{
    text-align:center;
}
.widget.html.titleimage.default h1,
.widget.html.titleimage.default p{
    margin-left:auto;
    margin-right:auto;
    line-height: 1.5;
    text-align:center;
    color:#FFF;
    text-shadow: -2px -2px 2px #000, 0px 0px 4px #000;
    background-color:rgba(0,0,0,0.6);
}    
.widget.html.titleimage.default h1{
    text-transform: uppercase;
    display: inline-block;
    padding-right:10px;
    padding-left:10px;
    line-height:40px;
    padding-top:8px;
}
.widget.html.titleimage.default p {
    font-size: 1.8em;
    padding:0.2em;
    margin-top:0.5em;
}

@media (min-width:768px) {
    .widget.html.titleimage.default{
        padding:120px 0;
    }
    .widget.html.titleimage.default h1{
        font-size:3em;
    }
}