<body>
	<div class="wrapper">
		<div class="header">
			<div class="top clear">
				<div class="logo"><img src="install/img/64x64-logo.jpg">Lucid+</a></div>
			</div>
		</div>
    
		<form name="form" action="index.php" method="POST" id="form">
		<div class="section">
			<h1><img src="install/img/64x64-logo.jpg"> Database<span class="check"></span></h1>
            <ul class="content">
                <li>
                    <div class="field">
                        <div class="title">Host</div>
                        <div class="input">
                            <input type="text" name="dbhost" id="dbhost" value="{dbhost}" placeholder="">
                        </div>
                    </div>			
                </li>
                <li>
                    <div class="field">
                        <div class="title">User</div>
                        <div class="input">
                            <input type="text" name="dbuser" id="dbuser" value="{dbuser}" placeholder="">
                        </div>
                    </div>			
                </li>
                <li>
                    <div class="field">
                        <div class="title">Password</div>
                        <div class="input">
                            <input type="text" name="dbpass" id="dbpass" value="{dbpass}" placeholder="">
                        </div>
                    </div>			
                </li>
                <li>
                    <div class="field">
                        <div class="title">Database name</div>
                        <div class="input">
                            <input type="text" name="dbname" id="dbname" value="{dbname}" placeholder="">
                        </div>
                    </div>			
                </li>
            </ul>
		</div>
 		<div class="section">
			<h1><img src="install/img/64x64-logo.jpg"> Paths<span class="check"></span></h1>
            <ul class="content">
                <li>
					<div class="field">
						<div class="title">Site URL</div>
						<div class="input">
							<input type="text" name="siteurl" id="siteurl" value="{siteurl}" placeholder="">
						</div>
					</div>
                </li>
                <li>
					<div class="field">
						<div class="title">Site root path</div>
						<div class="input">
							<input type="text" name="siteroot" id="siteroot" value="{siteroot}" placeholder="">
						</div>
					</div>
                </li>
                <li>
					<div class="field">
						<div class="title">Data root path</div>
						<div class="input">
							<input type="text" name="sitedata" id="sitedata" value="{sitedata}" placeholder="">
						</div>
					</div>
                </li>
            </ul>
		</div>
 		<div class="section">
			<h1><img src="install/img/64x64-logo.jpg"> Admin user<span class="check"></span></h1>
            <ul class="content">
                <li>
					<div class="field">
						<div class="title">Admin username</div>
						<div class="input">
							<input type="text" name="adminuser" id="adminuser" value="{adminuser}" placeholder="">
						</div>
					</div>
                </li>
                <li>
					<div class="field">
						<div class="title">Admin password</div>
						<div class="input">
							<input type="text" name="adminpass" id="adminpass" value="{adminpass}" placeholder="">
						</div>
					</div>
                </li>
                <li>
					<div class="field">
						<div class="title">Admin email</div>
						<div class="input">
							<input type="text" name="adminemail" id="adminemail" value="{adminemail}" placeholder="">
						</div>
					</div>
                </li>
            </ul>
		</div>
        <div class="actions">
            <input type="submit" name="submit" value="Install"><span class="messages" id="result"></span>
        </div>
	</form>
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $('#form').ajaxForm({
            beforeSubmit: validate,
            success: function() {
            }
        });
    });
    function validate(formData, jqForm, options) {
        $('#result').html("<img src='img/ajax-loader.gif'>&nbsp;&nbsp;Loading... please wait.");

        //Send data to server for validation process.
        data = new Object();
        data.dbhost = $('#dbhost').val();
        data.dbuser = $('#dbuser').val();
        data.dbpass = $('#dbpass').val();
        data.dbname = $('#dbname').val();
        data.ftpserver = $('#ftpserver').val();
        data.ftpuser = $('#ftpuser').val();
        data.ftppass = $('#ftppass').val();
        data.ftppath = $('#ftppath').val();
        data.siteurl = $('#siteurl').val();
        data.siteroot = $('#siteroot').val();
        data.sitedata = $('#sitedata').val();
        data.adminuser = $('#adminuser').val();
        data.adminpass = $('#adminpass').val();
        data.adminemail = $('#adminemail').val();

        $('#dbhost, #dbuser, #dbpass, #dbname, #ftpserver, #ftpuser, #ftppass, #ftppath, ' +
          '#siteurl, #siteroot, #sitedata, #adminuser, #adminpass, #adminemail').removeClass('error').removeClass('success');
        msg = '';
        data.cmd = 'check';
        isOK = false;
        $.post(window.location, data, function( d ){
            isOK = d.success;
            if (d.success) {
                //Loading install template...
                
            }
            if (d.checks != undefined && d.checks.length > 0) {
                for(i=0; i < d.checks.length; i++) {
                    for(j = 0; j < d.checks[i].target.length; j++) {
                        $('#'+d.checks[i].target[j]).removeClass('success').addClass('error');
                    }
                    msg += d.checks[i].message+ ' ';
                }
                $('#result').html(msg).removeClass("success").addClass('error');
            }
            $('#dbhost, #dbuser, #dbpass, #dbname, #ftpserver, #ftpuser, '+
              '#ftppass, #ftppath, #siteurl, #siteroot, #sitedata, #adminuser, '+
              '#adminpass, #adminemail').not('.error').addClass('success');					
        });
        return isOK;
    }		
    
</script>