
	<div class="wrapper">
		<div class="header">
			<div class="top clear">
				<div class="logo"><img src="{:$themeurl:}img/logo.png"></a></div>
				<div class="right">
					<div class="lang">
						<a>EN</a>
						<a>FR</a>
					</div>
					<div class="scriptname">Contact Us</div>
					<div class="steps">
						<span>STEPS:</span><a class="active">1. Gathering information</a><a class="inactive">2. Installation</a>
					</div>
				</div>
			</div>
		</div>

        <div class="slide1">
			<div class="title1 transition-opacity">
				<h1>Database</h1>
			</div>
			<div class="title2 transition-opacity">
				<h2>Connection information</h2>
				<p class="db_check">&nbsp;</p>
			</div>
			<div class="desc">
				<ul>
					<li>
						<div class="field">
							<div class="title">Host</div>
							<div class="input">
								<input type="text" name="dbhost" id="dbhost" value="{dbhost}" placeholder="">
							</div>
						</div>
					</li>
					<li>
						<div class="field">
							<div class="title">User</div>
							<div class="input">
								<input type="text" name="dbuser" id="dbuser" value="{dbuser}" placeholder="">
							</div>
						</div>
					</li>
					<li>
						<div class="field">
							<div class="title">Password</div>
							<div class="input">
								<input type="text" name="dbpass" id="dbpass" value="{dbpass}" placeholder="">
							</div>
						</div>
					</li>
					<li>
						<div class="field">
							<div class="title">Database name</div>
							<div class="input">
								<input type="text" name="dbname" id="dbname" value="{dbname}" placeholder="">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide2">
			<div class="left">
				<h2>FTP Connectivity</h2>
				<p>Please fill in all FTP connection information :</p>
				<ul>
					<li>
						<div class="field">
							<div class="title">Server</div>
							<div class="input">
								<input type="text" name="ftpserver" id="ftpserver" value="{ftpserver}" placeholder="">
							</div>
						</div>
					</li>
					<li>
						<div class="field">
							<div class="title">Username</div>
							<div class="input">
								<input type="text" name="ftpuser" id="ftpuser" value="{ftpuser}" placeholder="">
							</div>
						</div>
					</li>
					<li>
						<div class="field">
							<div class="title">Password</div>
							<div class="input">
								<input type="text" name="ftppass" id="ftppass" value="{ftppass}" placeholder="">
							</div>
						</div>
					</li>
					<li>
						<div class="field">
							<div class="title">Path from ftp root to site root folder (including site root folder name)</div>
							<div class="input">
								<input type="text" name="ftppath" id="ftppath" value="{ftppath}" placeholder="">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="contactslide">
			<h2>Site information</h2>
				<div class="leftfields">
					<div class="field">
						<div class="title">Site URL</div>
						<div class="input">
							<input type="text" name="siteurl" id="siteurl" value="{siteurl}" placeholder="">
						</div>
					</div>
					<div class="field">
						<div class="title">Site root path</div>
						<div class="input">
							<input type="text" name="siteroot" id="siteroot" value="{siteroot}" placeholder="">
						</div>
					</div>
					<div class="field">
						<div class="title">Data root path</div>
						<div class="input">
							<input type="text" name="sitedata" id="sitedata" value="{sitedata}" placeholder="">
						</div>
					</div>
				</div>
				<div class="rightfields">
					<div class="field">
						<div class="title">Admin username</div>
						<div class="input">
							<input type="text" name="adminuser" id="adminuser" value="{adminuser}" placeholder="">
						</div>
					</div>
				</div>
				<div class="rightfields">
					<div class="field">
						<div class="title">Admin password</div>
						<div class="input">
							<input type="text" name="adminpass" id="adminpass" value="{adminpass}" placeholder="">
						</div>
					</div>
				</div>
				<div class="rightfields">
					<div class="field">
						<div class="title">Admin email</div>
						<div class="input">
							<input type="text" name="adminemail" id="adminemail" value="{adminemail}" placeholder="">
						</div>
					</div>
				</div>
				<div class="actions">
					<input type="submit" name="submit" value="Test settings and continue"><span class="messages" id="result"></span>
				</div>
		</div>
