.widget.html.titleimage.dotted-background-overlay{
    min-height:330px;
    padding:15px 15px;
    background-repeat: repeat, no-repeat;
    background-size: 3px 3px, cover;
}
.widget.html.titleimage.dotted-background-overlay .ct{
    text-align:center;
}
.widget.html.titleimage.dotted-background-overlay h1,
.widget.html.titleimage.dotted-background-overlay p{
    margin-left:auto;
    margin-right:auto;
    line-height: 1.5;
    text-align:center;
    color:#FFF;
    text-shadow: -2px -2px 2px #000, 0px 0px 4px #000;
    background-color:rgba(0,0,0,0.5);
}    
.widget.html.titleimage.dotted-background-overlay h1{
    text-transform: uppercase;
    display: inline-block;
    padding-right:10px;
    padding-left:10px;
    line-height:40px;
    padding-top:8px;
}
.widget.html.titleimage.dotted-background-overlay p {
    font-size: 1.8em;
    padding:0.2em;
    margin-top:0.5em;
}
@media (min-width:768px) {
    .widget.html.titleimage.dotted-background-overlay{
        padding:120px 0;
    }
    .widget.html.titleimage.dotted-background-overlay h1{
        font-size:3em;
    }
}