.widget.html.titleimage.giant-white-text{
    padding:170px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.widget.html.titleimage.giant-white-text .ct{
    text-align:center;
}
.widget.html.titleimage.giant-white-text h1,
.widget.html.titleimage.giant-white-text p{
    margin-top:0;
    font-family:helvetica, arial, sans-serif;
    margin:0 auto;
    display:block;
    max-width:75%;
    text-align:center;
    color:#FFF;
}
.widget.html.titleimage.giant-white-text h1{
    font-size:45px!important;
    font-weight:bold;
    text-shadow:2px 2px 6px black;
}
.widget.html.titleimage.giant-white-text p {
    margin-top:15px;
    font-weight:normal;
    text-shadow:1px 1px 1px #000, -1px -1px 1px #000, 3px 3px 3px rgba(0,0,0,0.8), -3px -3px 3px rgba(0,0,0,0.8);
    font-size:17px;
}
.widget.html.titleimage.giant-white-text .actions{
    margin:15px;
}
@media (min-width:768px) {    
    .widget.html.titleimage.giant-white-text{
        padding:170px 0;
    }
    .widget.html.titleimage.giant-white-text h1{
        font-size:70px;
    }
    .widget.html.titleimage.giant-white-text h1,
    .widget.html.titleimage.giant-white-text p{
        max-width:50%;
    }
    .widget.html.titleimage.giant-white-text .actions{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
}

/**
 * Support for text-align setting
 **/
.widget.html.titleimage.giant-white-text.text-left h1,
.widget.html.titleimage.giant-white-text.text-left p{
    text-align:left;
    margin-left:0;
}
.widget.html.titleimage.giant-white-text.text-right h1,
.widget.html.titleimage.giant-white-text.text-right p{
    text-align:right;
    margin-right:0;
}
.widget.html.titleimage.giant-white-text.text-center h1,
.widget.html.titleimage.giant-white-text.text-center p{
    text-align:center;
}
@media (min-width:768px){
    .widget.html.titleimage.giant-white-text.text-left{
        padding-left:15px;
    }
}
    
