.widget.html.titleimage.text-above{
    padding:30px 0 670px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.widget.html.titleimage.text-above .ct{
    text-align:center;
}
.widget.html.titleimage.text-above h1,
.widget.html.titleimage.text-above p{
    margin-top:0;
    margin:0 auto;
    display:block;
    max-width:75%;
    text-align:center;
}
.widget.html.titleimage.text-above p {
    margin-top:15px;
}
.widget.html.titleimage.text-above .actions{
    margin:15px;
}
@media (min-width:768px) {
    .widget.html.titleimage.text-above{
        padding:30px 0 670px 0;
    }
    .widget.html.titleimage.text-above h1,
    .widget.html.titleimage.text-above p{
        max-width:50%;
    }
    .widget.html.titleimage.text-above .actions{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
}

/**
 * Support for text-align setting
 **/
.widget.html.titleimage.text-above.text-left h1,
.widget.html.titleimage.text-above.text-left p{
    text-align:left;
    margin-left:0;
}
.widget.html.titleimage.text-above.text-right h1,
.widget.html.titleimage.text-above.text-right p{
    text-align:right;
    margin-right:0;
}
.widget.html.titleimage.text-above.text-center h1,
.widget.html.titleimage.text-above.text-center p{
    text-align:center;
}
@media (min-width:768px){
    .widget.html.titleimage.text-above.text-left{
        padding-left:15px;
    }
}

@media (min-width:1400px){
    .widget.html.titleimage.text-above{
        padding:30px 0 870px 0;
    }
}
