.widget.html.titleimage.white-text-with-black-bg{
    min-height:330px;
    background-repeat: no-repeat;
    background-size: cover;
}
.widget.html.titleimage.white-text-with-black-bg .ct{
    text-align:left;
}
.widget.html.titleimage.white-text-with-black-bg h1,
.widget.html.titleimage.white-text-with-black-bg p{
    margin:15px;
    margin-left:0;
    padding:15px;
    display:inline-block;
    max-width:75%;
    margin-right:25%;
    text-align:left;
    color:#FFF;
    background-color:rgba(0,0,0,1);
}    
.widget.html.titleimage.white-text-with-black-bg h1{
    display: inline-block;
}
.widget.html.titleimage.white-text-with-black-bg p {
    font-weight:normal;
}
.widget.html.titleimage.white-text-with-black-bg .actions{
    margin:15px;
}
@media (min-width:768px) {    
    .widget.html.titleimage.white-text-with-black-bg{
        padding:120px 0;
    }
    .widget.html.titleimage.white-text-with-black-bg h1{
        font-size:3em;
    }
    .widget.html.titleimage.white-text-with-black-bg h1,
    .widget.html.titleimage.white-text-with-black-bg p{
        max-width:50%;
        margin-right:49%;
        padding-left:30px!important;
    }
    .widget.html.titleimage.white-text-with-black-bg .actions{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
}