h2{
	font-size:1.4em!important;
}
.navbar {
  border-radius: 0px;
  margin-bottom:0;
  min-height:0;
}
.navbar .navbar-nav.pull-right{
	margin-right:-30px;
}
.navbar .navbar-nav.pull-right a{
	margin-left:2px!important;
	padding-left:2px!important;
	margin-right:2px!important;
	padding-right:2px!important;
}
.navbar .navbar-nav.pull-right a:last-child{
	padding-right:5px!important;
}
.navbar-nav > li > a {
  padding-bottom: 8px;
  padding-top: 8px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #DDD;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #FFF;
}
.navbar-nav .dropdown-menu > li > a > span{
  margin-right:10px;
  font-size:1.2em;
  color:#08A1D8;
  transition: all 0.5s;
}
.navbar-nav .dropdown-menu > li > a {
  padding:10px 25px 10px 15px;
  color:#333;
  font-size:0.9em;
}
.navbar-inverse .navbar-nav .dropdown-menu {
  background:none;
  background-color:#000;
}
.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  color:#EEE;
  background:none;
  background-color:#000;
}
.navbar-nav .dropdown-menu > li > a:hover {
  color:#000;
  background-color:transparent;
  background:none;
}
.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover span{
  color:#FFF;
}
.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover {
  color:#FFF;
  background:none;
  background-color:#333;
}
.navbar-nav .dropdown-menu > li > a:hover span{
  color:#000;
}
.navbar-brand {
  padding: 5px;
  height: auto;
}
.admindashboard_block .items{
	list-style-type:none;
	margin:0;
	padding:0;
}
.admindashboard_block .items li{
	float:left;
	width:80px;
	height:80px;
	overflow:hidden;
	text-align:center;
	padding:3px;
	margin:5px;
	margin-left:0px;
}
.admindashboard_block .items li div{
}
footer{
	background-color:black;
	height:20px;
	color:white;
	overflow:hidden;
	font-size:0.8em;
	padding:10px;
}
#admindashboard .panel .titlebar{
	color:#AAA!important;
	font-weight:bold;
	vertical-align:bottom!important;
	padding-left:12px!important;
}
#admindashboard #dashboard{
	padding:10px;
}

.input-group-addon {
  padding: 4px 10px;
}
.input-group .form-control.itemmanager_form_field{
	float:none;
}

@media (max-width: 1024px) {
	body{
		padding-top:0!important;
	}
	.navbar-fixed-top{
		margin-bottom:0;
	}
}
@media (max-width: 768px) {
	.lucidinterface{
		margin-left:0px!important;
		margin-right:0px!important;
	}
}

table.dataTable input:disabled,
table.dataTable select:disabled{
    color:black;
    background-color:#FFF;
}