/**
 * Basic forms CSS styles definitions
 *
 * Available to all forms.
 *
 * Oct 30, 2012

 * @version 	0.1
 * @package 	kernel
 * @author 		Translucide
 * @copyright 	copyright (c) 2012 Translucide
 * @license
 * @since 		0.1
 */

/**
 * ############################################################################
 * YES/NO Switch ##############################################################
 * ############################################################################
 */
.onoffswitch {
    position: relative;
	width: 61px;
	top:3px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > div {
    float: left; position: relative; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    width: 38px; margin: 0px; text-align: center;
    border: 0px solid #999999;border-radius: 0px;
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
    background: #23527C; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1; right: 0;
}

.onoffswitch-active .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; left: 38px;
    border-style: solid; border-color: #23527C transparent transparent #23527C;
    border-width: 15px 6px;
}


.onoffswitch-inactive .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; right: 38px;
    border-style: solid; border-color: transparent #A1A1A1 #A1A1A1 transparent;
    border-width: 15px 6px;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

/**
 * ############################################################################
 * Translations (other languages) buttons #####################################
 * ############################################################################
 */
.translationtoggle {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #23527C), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #23527C 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#23527C;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #23527C;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:0px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #23527C;
	cursor:pointer;
}
.translationtoggle:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #23527C) );
	background:-moz-linear-gradient( center top, #23527C 5%, #23527C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#23527C;
	color:white;
	text-decoration:none;
}
.translationtoggle:active {
	position:relative;
	top:1px;
}
.translations{
	padding-top:5px;
}

.translationlang {
	width:25px;
	text-align:center;
}.translationlang:hover {
}.translationlang:active {
	position:relative;
	top:1px;
}


/**
 * ############################################################################
 * Item manager ###############################################################
 * ############################################################################
 */
.itemmanager_create .col-sm-6{
    padding-left:0;
    padding-right:0;
}
.itemmanager_create .col-sm-6 .form-group{
    margin-bottom:0;
}
.itemmanager_create .input-group-addon{
    color:white;
}
.itemmanager_create, .subform_create{
	margin-bottom:10px;
	margin-top:10px;
	padding:12px;
	margin-left:0!important;
	border:1px solid #CCC;
	background-color:#FAFaFa;
	margin-bottom:10px;
}
.itemmanager_edit, .subform_edit{
	border:1px solid #FAFAFA;
}
.itemmanager_list, .subform_list {
	list-style-type:none;
	list-style-position:inside;
	padding-left:0;
	margin-left:0;
}
.itemmanager_list div, .subform_list li{
	padding:12px;
	margin-left:0!important;
	border:1px solid #CCC;
	background-color:#FAFaFa;
	margin-bottom:10px;
}
.itemmanager_status .success, .itemmanager_status .error, .subform_status .success, .subform_status .error{
	margin-left:0!important;
	margin-right:0!important;
}
.itemmanager_form_field .row{
	margin-left:0;
	margin-right:0;
}
.itemmanager_form_field{
		content: "";
		display: table;
		clear: both;
}
@media (max-width: 768px) {
	.itemmanager_list div, .subform_list li,
	.itemmanager_create, .subform_create
	{
		height:auto;
	}
	.itemmanager_list div:after, .subform_list li:after,
	.itemmanager_create:after, .subform_create:after{
		content: "";
		display: table;
		clear: both;
	}
}

/**
 * ############################################################################
 * Image upload ###############################################################
 * ############################################################################
 */
.imageupload_preview{
	padding-right:10px;
	padding-bottom:10px;
}

/**
 * ############################################################################
 * Tree form field ############################################################
 * ############################################################################
 */
.formtree{
	border:1px solid #F0F0F0;
	padding:10px;
	background-color:#F8F8F8;
}

/**
 * ############################################################################
 * Choosem form field ############################################################
 * ############################################################################
 */
/*.chosen-container.chosen-container-multi > ul.chosen-choices,*/
.chosen-container ul.chosen-choices li.search-field input.default{
    height:34px!important;
}
.chosen-container-single .chosen-single,
.chosen-container.chosen-container-multi > ul.chosen-choices{
    min-height:34px!important;
    border: 1px solid #ccc;
    line-height: 34px;
}
/**
 * ############################################################################
 * Form validation ############################################################
 * ############################################################################
 */
.validation-error {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkeDwwLaQ1EmwAAAmlJREFUSMfN1L1rU1EcxvHvyU3u7U1u3m2wodWGdjC0OlRbsUNBKFqpqKlgwak4OCh0cvAfEBUchE6ig0gHHSoOLoo6iIIOVqit1kohRdI06Zt9MU1zX46DkILolAQ843N+cD6cc3jgf17TJ85cmuwfuFrLM5R/bcwcO3Ut0pW84QvpveeNBvXO7PSrWgDE38LZ3tMdvv3NHyIN4MovMb8oyC1sHux89mS82gDXn0G6L6Upfu9osCWMFWyklOwiFnUhFEbf96W0mgPY3OoPJeNJpU5Fv3gF/cIwSlOCuJ9k0bT6awrI9qUMfV/zmB6SWFt2OTcVjegug1DUGHubGjRqBnBMZ8TX2YJVKIBbLef2yiLWfIY9umQjvzRSE0D2+EDC6D4wpNhrWNNfcNIzO7C5NMWJj3i/fcL/dXLogTASVQeIreKo272M+foldmYOaVs7U14dNA1TUWlrrMfl9dyvKiDrqT+rxlzdrGeQioYIhpCFQnlIbqwiPCrblo2hKrSHAz339MBA1XogvzeZ813uidkTn5FuDUwHJ/sdQnEEYE2No+xuRW7byG2bgCV4nM6sD26sBiu+gZwrMqyf64452QVQ636/+Y9llPYOgo+eE3z4AveRo8i1lXJtOUgOhcOB26qv4pp2qYeTt1wxD3LlJ0jAAUolhO5HuFXwuBG+ILJUQgqQEjYsi4ReR6uuX68U4JYIjzA8KFEdHJCmhaeuEWfqHaW7NxFGAN48xWhqRm5J0EAgECWBI2R1/sBiW7uUEW1TmjaWLXEkmNtFzHQaBxsnFkcqGqZlY1sO0nbIFYrGydW8qBTwC1qI5vakxySjAAAAAElFTkSuQmCC');
	background-position: right center;
	background-repeat:no-repeat;
}
.validation-error-message {
	color:red;
	opacity:0.7;
}

/**
 * ############################################################################
 * Disable Chrome autofill visual artefacts ###################################
 * ############################################################################
 */
/*
 *Activate for non  transparent bg inputs:

 input:-webkit-autofill,
 textarea:-webkit-autofill,
 select:-webkit-autofill{
    -webkit-box-shadow:0 0 0 500px #FFF inset !important;
    background-color:transparent!important;
}*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 5000s;
}
textarea, input, *:focus {
    outline: none !important;
}

/**
 * ############################################################################
 * Icon form field ############################################################
 * ############################################################################
 */
.iconformfield{
    height:auto;
}
.iconformfield .tiles:after {
    display:block;
    content:"";
    clear:both;
}
.iconformfield .tile{
    float:left;
    width:25px;
    height:25px;
    font-size:15px;
    padding:5px;
}
.iconformfield .tile.selected,
.iconformfield .tile:hover{
    color:white;
    background-color:#08A1D8;
    cursor:pointer;
}

ul.tokens-token-list.form-control{
    min-height:34px;
    width:100%!important;
    display:block;
}

/**
 * Fix the help tips being 1px offset with form fields in horizontal and vertical layouts
 */
.input-group-addon.glyphicon{
    top:0px;
}
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
.datepicker{
    z-index:9999 !important;
}

/**
 * Remove grey background on chosen fields
 **/
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-single .chosen-single{
    background-image:none!important;
    background:none!important;
}
.input-group-addon{
    padding:6px 6px;
}
.input-addon{
    background-color:#FFF;
    min-width:35px;
    border-color:transparent;
    outline-color:transparent;
    border-style:none;
}
/**
 * normal input group addons receive paddings, but for fields, the field itself will receive it.
 **/
.input-group .input-addon{
    padding:0;
    width:auto;
}

/**
 * Buttons in col-sm-12 should not expand to whole screen width.
 **/
.col-sm-12 .form-control.btn {
    width:auto;
}

/**
 * Fix border-radius causing blurry text in textarea elements in Chrome 66
 */
div textarea.form-control{
    border-radius: none!important;
}
