/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-lucid li{line-height:20px;padding:0;}
.jstree-lucid li, 
.jstree-lucid ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-lucid li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-lucid li.jstree-last { background:transparent; }
.jstree-lucid .jstree-open > ins { background-position:-72px 0; }
.jstree-lucid .jstree-closed > ins { background-position:-54px 0; }
.jstree-lucid .jstree-leaf > ins { background-position:-36px 0; }

.jstree-lucid .jstree-hovered { background:#E8F6FC; border:1px solid #d8f0fa; padding:8 2px 8 1px; }
.jstree-lucid .jstree-clicked { background:#E8F6FC; min-width:120px; border:1px solid #99defd; padding:8 2px 8 1px; }
.jstree-lucid a .jstree-icon { background-position:-56px -19px; }
.jstree-lucid a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-lucid.jstree-focused {}

.jstree-lucid .jstree-no-dots li, 
.jstree-lucid .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-lucid .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-lucid .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-lucid .jstree-no-icons a .jstree-icon { display:none; }

.jstree-lucid .jstree-search { font-style:italic; }

.jstree-lucid .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-lucid .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-lucid .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-lucid .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-lucid .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-lucid .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-lucid .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-lucid .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-lucid ins { background:transparent !important; }
#vakata-dragged.jstree-lucid .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-lucid .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-lucid { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-lucid a.jstree-search { color:aqua; }
.jstree-lucid .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-lucid-context, 
#vakata-contextmenu.jstree-lucid-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-lucid-context li { }
#vakata-contextmenu.jstree-lucid-context a { color:black; }
#vakata-contextmenu.jstree-lucid-context a:hover, 
#vakata-contextmenu.jstree-lucid-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-lucid-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-lucid-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-lucid-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-lucid-context li ul { margin-left:-4px; }
.jstree-lucid>ul>li>a{font-weight:bold;}

/* IE6 BEGIN */
.jstree-lucid li, 
.jstree-lucid ins,
#vakata-dragged.jstree-lucid .jstree-invalid, 
#vakata-dragged.jstree-lucid .jstree-ok, 
#jstree-marker.jstree-lucid { _background-image:url("d.gif"); }
.jstree-lucid .jstree-open ins { _background-position:-72px 0; }
.jstree-lucid .jstree-closed ins { _background-position:-54px 0; }
.jstree-lucid .jstree-leaf ins { _background-position:-36px 0; }
.jstree-lucid a ins.jstree-icon { _background-position:-56px -19px; background-size: contain;}
#vakata-contextmenu.jstree-lucid-context ins { _display:none; }
#vakata-contextmenu.jstree-lucid-context li { _zoom:1; }
.jstree-lucid .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-lucid .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-lucid .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */