section.widget.image.inverted img,
section.widget.image.inverted h1,
section.widget.image.inverted p,
section.widget.image.inverted .actions
{
    margin-left:auto;
    margin-right:auto;
    display:block;
    color:#FFF;
}
section.widget.image.inverted img{
    mix-blend-mode:multiply;
    background-blend-mode:multiply;
}
section.widget.image.inverted .actions{
    margin-top:20px;
}
@media(min-width:1024px){
    section.widget.image.inverted{
        padding-top:30px;
        pading-bottom:30px;
        margin-bottom:-20px;
    }
    section.widget.image.inverted h1{
        padding-top:0;
    }
    section.widget.image.inverted p-h1{
        padding-top:20px;
    }
}