section.widget.image.left-aligned img,
section.widget.image.left-aligned h1,
section.widget.image.left-aligned p,
section.widget.image.left-aligned .actions
{
    text-align:left;
    display:block;
}
section.widget.image.left-aligned img{
    mix-blend-mode:multiply;
    background-blend-mode:multiply;
}
section.widget.image.left-aligned .actions{
    margin-top:20px;
}
@media(min-width:1024px){
    section.widget.image.left-aligned h1{
        padding-top:0px;
    }

}