section.widget.image.rocs-autruche{
    position:relative;
    padding-top:200px;
    text-align:right;
}
section.widget.image.rocs-autruche img,
section.widget.image.rocs-autruche h2,
section.widget.image.rocs-autruche h1,
section.widget.image.rocs-autruche p,
section.widget.image.rocs-autruche .actions
{
    font-family: arial, helvetica, sans-serif;
    margin-left:auto;
    margin-right:0;
    text-align:right;
    display:block;
    color:#FFF;
    font-weight:bold;
}
section.widget.image.rocs-autruche .actions{
    margin-top:20px;
}
section.widget.image.rocs-autruche .ct{
    margin-left:-15px;
    margin-right:-15px;
    padding:15px;
}
section.widget.image.rocs-autruche img{
    position:absolute;
    top:30px;
    right:30px;
    max-width:150px;
}

@media(min-width:1024px){
    section.widget.image.rocs-autruche img{
        right:15%;
        max-width:250px;
    }
    section.widget.image.rocs-autruche{
        padding-top:550px;
        pading-bottom:30px;
        margin-bottom:-20px;
        text-align:center;
    }
    section.widget.image.rocs-autruche h2{
        font-size:38px;
    }
    section.widget.image.rocs-autruche h1{
        padding-top:0;
        font-size:52px;
    }
    section.widget.image.rocs-autruche h1 br{
        display:none;
    }
    section.widget.image.rocs-autruche p-h1{
        padding-top:20px;
    }
}
